<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body >
    <div class="bgimg2"></div>
    <div class="text2">
        <h1>Upload images here!</h1>
        <form action = {{url_for('buildingdetection')}} method="POST" enctype="multipart/form-data">
            <input type="file" id="myfile" name="filename" accept="image/*">
        <div class="navi2">
            <button class="btn" type = "submit" value = "Detect Buildings">Detect Buildings</button>
        </div>
        <div class="navi">
            <button class="btn"><a class="active" href={{url_for('classify')}}>Next</a></button>
        </div>
        <div class="navi">
            <button class="btn"><a href="home.html">Back</a></button>
        </div>
        </form>
    </div>
</body>
</html>